!	SETTINGS	!

!URxvt.background:	[50]#000000	
!URxvt.foreground:	pink
!URxvt.depth:		32
URxvt.scrollBar:	false
!URxvt.cursorColor: 	red

!	XFT_SETTINGS !

Xft.antialias:	true
Xft.rgba: 		rgb
Xft.hinting: 	true
Xft.hintstyle:	hintfull

!	FONTS		!
URxvt.font:		xft:DejaVuSansMono:pixelsize=12
URxvt.boldfont:	xft:DejaVuSansMono:bold:size=13

!	COLORS		!

!URxvt.color0: #1d2021
!URxvt.color1: #cc241d
!URxvt.color2: #98971a
!URxvt.color3: #d79921
!URxvt.color4: #458588
!URxvt.color5: #b16286
!URxvt.color6: #689d6a
!URxvt.color7: #a89984
!URxvt.color8: #928374
!URxvt.color9: #fb4934
!URxvt.color10: #b8bb26
!URxvt.color11: #fabd2f
!URxvt.color12: #83a598
!URxvt.color13: #d3869b
!URxvt.color14: #8ec07c
!URxvt.color15: white

!	EXTENSIONS	!

!URxvt.perl-ext-common: default, matcher,keyboard-select, url-select
!URxvt.colorUL:			#4682B4

!	MATCHER		!
!URxvt.url-launcher:		/usr/bin/xdg-open
!URxvt.matcher.button:	1

!	KEYBOARD-SELECT	!
!URxvt.keysym.M-Escape:	perl:keyboard-select:activate

!	URL-SELECT	!
!URxvt.keysym.M-u:		perl:url-select:select_next
!URxvt.url-select.launcher:	/usr/bin/xdg-open
!URxvt.url-select.underline:	true



!	ROFI COLOR	!

! Use extended color scheme
rofi.color-enabled:                  true
!! Color scheme for normal row
!rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #FAB1C3,  #976490
rofi.color-normal:                   argb:00000000,  #976490, argb:00000000,  #FAB1C3,  #976490
!! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 , #976490
!! Color scheme for active row
rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC , #976490
!! Color scheme window
rofi.color-window:                   argb:eeffffff,  #FAB1C3,  #FAB1C3
!! Separator style (none, dash, solid)
rofi.separator-style: dash
